@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>You need to at least have any kind of BoardingPass Claim!</h2>
    <p><a asp-page="Airport/AirportSecurity">Try your luck</a></p>
</div>
