@page
@model AirportAuthorization.Pages.Airport.AirportSecurityModel
@{
}
<h1 class="display-4">Welcome to Airport Security</h1>
<p>To proceed to the <a asp-page="AirportLounge">Airport Lounge</a> you need to have a either a FrequentFlyer Claim, be an Employee and must not be banned</p>