@page
@* Page model which is defined as a class in code behind. Can be usually found under the same name + .cs *@
@model IndexModel
@{
    //writes the title into the viewdata dictionary
    ViewData["Title"] = "Home page";
}
@* static html *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
