@page
@model Forms_and_Tag_Helpers.Pages.CurrencyConverterModel
@{
}
<h1>Currency Converter</h1>
<form method="post">
    <select asp-for="Input.SelectedValue1" asp-items="Model.CurrencyIn" size="3">
        <option value="none">*None*</option>
    </select>
    <select asp-for="Input.SelectedValue2" asp-items="Model.CurrencyOut" size="3"></select>
    <input type="submit" value="Start Post"/>
</form>