@page "/go"
@model Razor_Routing.Pages.Testsite2Model
<div class="text-center">
    <a href="@Model.LinkToTestsite">Link</a>
    <h2 class="display-4">Testsite2 should only respond to Endpoint "/go". The Standard endpoint "Testsite2" is no longer valid</h2>

</div>
